{% extends "index.html" %}

{% block title %}
{{page.title}} - {{ config.title }}
{% endblock title %}

{%- block extra_head %}
    {%- if page.description %}
        <meta name="description" content="{{ page.description }}"/>
    {%- else %}
        <meta name="description" content="{{ config.description }}"/>
    {%- endif -%}
{% endblock extra_head -%}

{%- block ogp %}
    <meta property="og:title" content="{{ page.title }} - {{ config.title }}"/>
    {% if page.extra.type %}
        <meta property="og:type" content="{{ page.extra.type }}" />
    {% else %}
        <meta property="og:type" content="article" />
    {% endif %}
        <meta property="og:url" content="{{ current_url }}" />
    {% if page.description %}
        <meta property="og:description" content="{{ page.description }}"/>
    {% else %}
        <meta property="og:description" content="{{ config.description }}"/>
    {% endif %}
    <meta property="og:locale" content="ja_JP"/>
    <meta property="og:site_name" content="{{ config.title }}"/>
    {% if page.extra.image %}
        <meta property="og:image" content="{{ get_url(path=page.extra.image) }}"/>
    {% else %}
        <meta property="og:image" content="{{ get_url(path=config.extra.image) }}"/>
    {% endif %}
    <meta property="article:author" content="{{ config.extra.author }}"/>
    <meta property="twitter:card" content="summary" />
    {% if page.extra.image %}
        <meta property="twitter:image" content="{{ get_url(path=page.extra.image) }}"/>
    {% else %}
        <meta property="twitter:image" content="{{ get_url(path=config.extra.image) }}"/>
    {% endif %}
{% endblock ogp %}

{% block content %}
    <div class="post">
        {{ post_macros::header(page=page) }}
        {{ post_macros::content(page=page, summary=false) }}
        {{ post_macros::earlier_later(page=page) }}
    </div>
{% endblock content %}
