{% extends "index.html" %}

{% block title %}
{{page.title}} - {{ config.title }}
{% endblock title %}

{%- block extra_head %}
    {%- if page.description %}
        <meta name="description" content="{{ page.description }}"/>
    {%- else %}
        <meta name="description" content="{{ config.description }}"/>
    {%- endif -%}
{% endblock extra_head -%}

{% block content %}
    <div class="post">
        {{ post_macros::header(page=page) }}
        {{ post_macros::content(page=page, summary=false) }}
        {{ post_macros::earlier_later(page=page) }}
    </div>
{% endblock content %}
